name: Lint

on:
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup tools via mise
        uses: jdx/mise-action@v3

      - name: Install dependencies
        run: mise run pnpm_install

      - name: Run lint
        run: mise run lint
